* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #191919;
    font-family: "DM Sans", sans-serif;
    height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

svg {
    fill: currentColor;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 43px 50px;
}

.header__logo {
    width: 160px;
    height: 33px;
}

.nav__link {
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    padding-right: 40px;
    position: relative;
    transition: color .2s linear;
}

.nav__link-last {
    padding-right: 20px;
}

.nav__link:hover {
    color: #118DA8;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 70px;
    padding-right: 130px;
    margin-bottom: 100px;
}

.main__img {
    min-width: 650px;
    height: 873px;
    border-radius: 12px;
}

.main__heading {
    width: 526px;
    height: 250px;
    font-size: 70px;
    font-weight: 400;
    line-height: 88px;
    color: #fff;
    letter-spacing: 3.2px;
}

.main__text-decorated {
    font-size: 75px;
}

.main__heading strong {
    font-size: 80px;
}

.text__underline {
    width: 163px;
    height: 11px;
}

.icon__text {
    font-size: 15px;
    line-height: 24px;
    color: #fff;
    margin-top: 74px;
    margin-bottom: 16px;
}

.icon__button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.main__icons {
    display: flex;
    width: 245px;
    justify-content: space-between;
}

.main__icon {
    width: 32px;
    height: 32px;
    transition: transform .2s linear;
}

.main__icon:hover {
    transform: scale(1.5)
}

.episodes {
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 260px;
}

.episodes__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 66px;
}

.episodes__title {
    font-size: 64px;
    font-weight: 400;
    line-height: 79px;
    letter-spacing: 2.88px;
    color: #fff;
}

.episodes__button {
    background-color: #118DA8;
    border-radius: 8px;
    max-width: 208px;
    height: 51px;
    padding: 12px 15px 12px 20px;
    border: none;
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    font-size: 17px;
    line-height: 27px;
    font-weight: 400;
    cursor: pointer;
    transition: background-color linear .4s ;
}

.episodes__button:hover{
    background-color: rgba(17, 141, 168, 0.6);
}

.episode__box {
    display: flex;
    gap: 53px;
    width: 1300px;
    background-color: #000;
    border-radius: 32px;
    padding: 40px;
    margin-bottom: 60px;
}

.episode__image {
    min-width: 389px;
}

.episode__info {
    display: flex;
    flex-direction: column;
}

.episode__type {
    width: max-content;
    height: 27px;
    background-color: #191919;
    border-radius: 6px;
    color: #fff;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    margin-bottom: 48px;
    padding: 0 16px;
}

.episode__number {
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: #118DA8;
    margin-bottom: 17px;
}

.episode__name {
    color: #fff;
    font-size: 64px;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: 2.5px;
    max-width: 701px;
    margin-bottom: 28px;
}

.episode__desc {
    color: #fff;
    opacity: 70%;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    margin-bottom: 18px;
}

.host {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 200px;
}

.info__arrow {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;   
}

.arrow__image {
    transition: transform .4s linear ;
}

.arrow__image:hover {
    transform: scale(1.2);
}

.arrow__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #118DA8;
}

.host__name {
    font-weight: 400;
    font-size: 65px;
    line-height: 79px;
    color: #fff;
    margin-bottom: 28px;
}

.host__desc {
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: #fff;
    opacity: 70%;
}

.host__image {
    min-width: 650px;
    height: 743px;
    border-radius: 12px;
}